<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cod Stats</title>
  <link rel="stylesheet" href="/view/cod-stats/view.css">
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/view/cod-stats/view.js"></script>
</head>
<body>

  <div id="container">
    <div id="codstats">
      <div id="prestige-icon">
        <span id="prestige"></span>
      </div>
      <!--       <div>
      <span id="lvl">Lvl</span>
      <span id="level"></span>
    </div>
    -->
    <div>
      <span id="kdr-title">KDR&nbsp;&nbsp;</span>
      <span id="kdr"></span>
    </div>
    <div>
      <span id="wl-title">WL&nbsp;&nbsp;</span>
      <span id="wl"></span>
    </div>
    <!--       <div>
    <span>Kills</span>
    <span id="kills"></span>
  </div>
  -->
</div>
</div>

</body>

</html>