body {
  padding: 0px;
  margin: 0px;
  background: none;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
#container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
#codstats {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px;
  color: white;
  font-size: 24px;
}
#prestige, #level, #kdr, #kills {
  /*float: right; */
}
#kdr-title, #wl-title {
  font-size: 16px;
}
#prestige-icon {
  background-image: none;
  background-repeat: no-repeat;
  width: 50px;
  height: 32px;
  border: 0;
  background-size: 100%;
  /* To fill the dimensions of container (button), or */
  background-size: 40px auto;
  /* to specify dimensions explicitly */
  padding: 4px 0px 4px 30px;
  text-align: right;
}
#prestige-icon span {
  vertical-align: middle;
}
#prestige {
  text-align: right;
}
